@media (max-width: 980px){
   .slider__inner .slider__item{
      height: 450px;
   }
   main .slider__content,
   main .slider{
      height: 450px;
   }
   .header .header__inner{
      height: 110px;
   }
   .slider, .about{
      margin-bottom: 90px;
   }
   .slider .slider__content{
      width: 50%;
   }
   main .about,
   main .article{
      padding-bottom: 90px;
   }
   .about .about__inner{
      margin: 0 30px;
   }
   
}
@media (max-width: 850px){
   .title{
      padding-right: 30px;
   }
   .article .article__inner{
      margin: 0 50px;
   }
   main .about, main .article{
      padding-bottom: 70px;
   }
}

@media (max-width: 800px){
   .about .about__inner{
      margin: 0 15px;
   }
   .slider .slider__title,
   .about .title{
      font-size: 26px;
      line-height: 36px;
   }
   .slider .slider__title{
      padding-right: 15px;
   }
   .slider__inner .slider__item{
      height: 400px;
   }
   main .slider__content, main .slider{
      height: 400px;
   }
   body,
   .article .article__footer-title{
      font-size: 20px;
      line-height: 26px;
   }
   .article .article__text{
      margin-bottom: 70px;
   }
   .slider .slider__content{
      padding: 40px 0 40px 40px;
   }
}

@media (max-width: 700px){
   .slider__inner .slider__item,
   main .slider__content, main .slider{
      height: 350px;
   }
   .slider .slider__title, .about .title{
      font-size: 24px;
      line-height: 32px;
   }
   .header .header__inner{
      height: 90px;
   }
   .slider .slider__title{
      max-width: 270px;
   }
   .article .article__inner{
      margin: 0 20px;
   }
   .about .about__inner{
      flex-wrap: wrap;
   }
   .about .title{
      margin-bottom: 30px;
      max-width: 280px;
   }
   .about .about__list{
      border-left: none;
      border-top: 2px solid #0c265d;
      padding-top: 30px;
      padding-left: 15px;
      max-width: 100%;
   }
   .about .about__line+.about__line{
      margin-top: 25px;
   }
}
@media(max-width: 550px){
   .slider .slider__content{
      width: 60%;
   }
   .header .header__link a{
      font-size: 18px;
   }
   .header__logo img{
      width: 150px;
   }
   .slider .slider__title, .about .title{
      font-size: 20px;
      line-height: 24px;
   }
   .slider .slider__title{
      max-width: 100%;
   }
   body, .article .article__footer-title{
      font-size: 18px;
      line-height: 22px;
   }
   main .about, main .article{
      padding-bottom: 50px;
   }
   .slider, .about{
      margin-bottom: 50px;
   }
   .article .article__inner{
      margin: 0;
   }
   .about .about__list{
      padding-left: 0;
   }
   .slider__inner .slider__item, main .slider__content, main .slider{
      height: 300px;
   }
   .slider .slider__content{
      padding: 20px;
   }
   .article .article__footer-subtitle{
      font-size: 13px;
   }
}

@media(max-width: 480px){
   .slider .slider__title, .about .title{
      font-size: 18px;
      line-height: 22px;
   }
   body, .article .article__footer-title {
      font-size: 16px;
      line-height: 20px;
   }
   .article .article__footer {
      max-width: 250px;
      margin-left: auto;
  }
}  