@import 'vars';
@import 'global';
@import 'media';



.header__inner{
   height: 135px;
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.header__link{
   a{
      color: rgb(12, 38, 93);
      font-size: 20px;
      transition: all .3s;
      &:hover{
         color: #d0b17a;
      }
   }
}

// about
.about{
   padding-bottom: 110px;
   border-bottom: 1px solid #e6e9ee;

   &__inner{
      margin: 0 63px;
      display: flex;
      justify-content: space-between;
   }
   &__list{
      max-width: 478px;
      padding-left: 50px;
      border-left: 2px solid rgb(12, 38, 93);
      padding-bottom: 20px;
   }
   &__line{
      margin-top: -10px;
   }
}
.about__line + .about__line{
   margin-top: 35px;
}
.title{
   color: #d0b17a;
   font-size: 30px;
   font-weight: 400;
   line-height: 40px;
   max-width: 250px;
}


/// article
.article{
   padding-bottom: 145px;

   &__inner{
      margin: 0 63px;
   }
   &__text{
      margin-bottom: 120px;
   }
}
.article__footer{
   text-align: right;
   &-title{
      font-weight: 700;
      margin-bottom: 5px;
      font-size: 22px;
   }
   &-subtitle{
      color: #858585;
      font-size: 17px;
   }
}

// slider

.slider{
   height: 530px;
  
}
.slider__item{
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center center;
   height: 530px;
}

.slider__content{
   position: absolute;
   z-index: 10;
   height: 530px;
   width: 541px;
   // background: rgba(#0b163a, .95);
   padding: 63px 0 63px 63px;
   &::after,
   &::before{
      content: '';
      position: absolute;
      height: 100%;
      width: 100%;
      left: 0;
      top: 0;
     
   }
   &::after{
      z-index: 3;
      background: #243b6d;
      opacity: .5;
   }
   &::before{
      opacity: .9;
      z-index: 4;
      background: rgb(12, 38, 93);
   }
}

.slider__title{
   font-weight: 400;
   position: absolute;
   z-index: 10;
   font-size: 30px;
   line-height: 40px;
   color: #fff; 
   max-width: 320px;
}


.slider__inner .slick-dots {
   position: relative;
   bottom: 63px;
   z-index: 15;
   max-width: 1082px;
   margin: 0 auto;
   left: 63px;
  
}

 .slider__inner .slick-dots button{
   cursor: pointer;
   height: 4px;
   width: 14px;
   border-radius: 0;
   border: none;
   padding: 0;
   font-size: 0;
   outline: none;
 }
 .slick-dots li{
    display: inline-block;
 }
 .slick-dots li:nth-last-child(1) button,
 .slick-dots li:nth-last-child(2) button{
   background: rgb(12, 38, 93);
   border: 1px solid #9e8a6a;
 }
 .slick-dots li:nth-last-child(2) button{
    border-right: none;
 }
 .slick-dots li:nth-last-child(1) button{
    border-left: none;
 }
 .slick-dots li:nth-last-child(4) button,
 .slick-dots li:nth-last-child(3) button{
   background: red;
 }
 .slick-dots li:nth-last-child(5) button,
 .slick-dots li:nth-last-child(6) button{
   background: #fff;
 }
